[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "*"
asyncio = "*"
attrs = "*"
beautifulsoup4 = "*"
cachetools = "*"
certifi = "*"
charset-normalizer = "*"
frozenlist = "*"
google = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
googleapis-common-protos = "*"
httplib2 = "*"
idna = "*"
lxml = "*"
multidict = "*"
numpy = "*"
oauthlib = "*"
pandas = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pyparsing = "*"
python-dateutil = "*"
pytils = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
selectors = "*"
six = "*"
soupsieve = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
user-agent = "*"
weblib = "*"
yarl = "*"
flake8 = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
